<div class="container-fluid central">
  <div class="row">
    <div class="col-sm-12 col-lg-offset-3 col-lg-6">
      <h1>About Planer</h1>

      <p>Concept behind Planer is taken from the book 'The 7 habits of highly effective people' by Stephen Covey.
      It's very simple yet potentially life-changing idea. In order to be more effective one should prioritize their tasks into 4 categories:</p>
      <ol>
        <li>Important and urgent - C1</li>
        <li>Important and non-urgent - C2</li>
        <li>Not important and urgent - C3</li>
        <li>Not important and not urgent - C4</li>
      </ol>
      <p>
      You have to decide for yourself what is important and what is urgent. Then you should focus on doing tasks in categories C1 and C2. Have fun achieving your dreams!
      </p>
      <p>
      You can read more about this method <%= link_to 'here', "https://en.wikipedia.org/wiki/Time_management#The_Eisenhower_Method" %>.
      I also highly recommend reading 'The 7 habits of highly effective people'.
      </p>
    </div>
  </div>
</div>
