<div class="navbar navbar-fixed-bottom">
  <ul class="nav navbar-nav" id="footer_navbar">
    <li><%= link_to 'Made by Adam Szczombrowski', "https://github.com/adam-szczombrowski" %></li>
  </ul>
</div>
